<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/criaplanos.css">
        <title>Academia Código</title>
    </head>

    <body>
        <header class="navbar">
            <a href="/"> <img alt="Logo" src="/images/logo.jpg"> </a>
            <nav>
                <a href="/"> Home </a>
                <a href="../planos"> Planos </a>
                <a href="../clientes"> Cadastre-se </a>
                <a href="/planos/criarplanos"> Criar Planos </a>
            </nav>
        </header>

        <section class="main-page">

            <div class="form-container">
                <form action="/planos" method="POST">                    
                    <h2> Cadastre um novo plano </h2>

                    <div class="field">
                        <input type="nome" id="nome" name="nome" placeholder="Nome do plano" required>
                    </div>
                    
                    <div class="field">
                        <input type="text" id="valor" name="valor" placeholder="Valor do plano" maxlength="5" required>
                    </div>

                    <div class="field">
                        <input type="text" id="descricao" name="descricao" placeholder="Descrição do plano" required>
                    </div>
                    
                    <div class="botao">
                        <button>Cadastrar um novo</button>
                    </div>
                                    
                </form>
            
            </div>

        </section>
     
        <footer>

            <div class="dev">
                &copy; Todos os direitos reservados <br>
                Desenvolvido por Diogo Thompson <br>
            </div>
            
             <div class="endereco">
                Endereço: Rua: xyz, s/n - Pavuna <br>
                CEP: 00000-000 Rio de Janeiro / RJ <br>
                CNPJ: 00.000.000\0001-00 
             </div>
            
        </footer>

    </body>

</html>