<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/planos.css">
        <title>Academia Código</title>
    </head>

    <body>
        <header class="navbar">
            <a href="/"> <img alt="Logo" src="/images/logo.jpg"> </a>
            <nav>
                <a href="/"> Home </a>
                <a href="planos"> Planos </a>
                <a href="clientes"> Cadastre-se </a>
                <a href="/planos/criarplanos"> Criar Planos </a>
            </nav>
        </header>

        <main>

            <p class="sucesso"> 
            
                <%= status %>

            </p>
            <section class="titulo" >
            <div> 
                <h1>Escolha seu plano</h1>
            </div>
            <div>
                <p>Treine o quanto quiser com os plano. Musculação, Aeróbico, Movimento, Capoeira e Ginástica </p>
            </div>
            </section>

            <% listaplanos.forEach(function(item){ %>

            <section class="plano">
                <div>
                    <h2>
                        <%= item.nome %>
                    </h2>   
                </div>
                <div>
                   <h3> a partir de R$ <%= item.valor %></h3> 
                </div>
                <div>
                    <p> <%= item.descricao %> </p>
                </div>
 
                <div class="assinar">
                    <a href="pagamentos">assinar</a>               
                </div>
                <div class="excluir">
                        <button>Excluir Plano</button>
                    </a>                
                </div> 
            </section>
            <% }) %>
        </main>
        <footer>

            <div class="dev">
                &copy; Todos os direitos reservados <br>
                Desenvolvido por Diogo Thompson <br>
            </div>
            
             <div class="endereco">
                Endereço: Rua: xyz, s/n - Pavuna <br>
                CEP: 00000-000 Rio de Janeiro / RJ <br>
                CNPJ: 00.000.000\0001-00 
             </div>
            
        </footer>

    </body>

</html>